*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.navbar .logo a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.navbar .logo .logo-text-1 {
    color: #ff6347; 
}
.navbar .logo .logo-text-2 {
    color: #32cd32; 
}
.navbar a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 10px;
}
.navbar a:hover {
    text-decoration: underline;
}

main {
    margin-top: 20px;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #444;
    color: #f4f4f4;
}
footer p {
    margin: 0;
}
